.TableView {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 56px);

  padding: 24px;

  overflow: auto;


  .Table {}

  .TopBar {

    border-bottom: 1px solid hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;


    .SearchBar {
      width: 300px;
    }

  }



}