@import '../../App.scss';

.PersonViewContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px); //$pt-navbar-height);
  // border: 2px solid red;

  #personDetail {
    width: 500px;
  }
}

// .BarsContainer {
//   padding-top: 32px;
//   width: 100%;
//   display: flex;
//   justify-content: center;

//   //searchBar
//   div:first-child {
//     width: 500px;
//     margin-right: 24px;
//   }

//   .AddPersonBtn {
//     // padding: 0 24px;
//     // margin-left: $gap;
//   }
// }