@import '../../App.scss';

.PersonViewContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px); //$pt-navbar-height);
  // border: 2px solid red;

  #personDetail {
    width: 500px;
  }
}