@import '../Person.module.scss';

$gap: 30px;

.PersonListView::-webkit-scrollbar {
  display: none;
}

.PersonListView {
  border: 1px solid grey;
  overflow-y: scroll;
  -ms-overflow-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  // grid-template-rows: minmax(auto, $person-height);
  justify-content: center;
  grid-gap: $gap;

  .BarsContainer {
    margin-top: $gap;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: space-between;

    div:first-child {
      width: 100%;
      margin-right: $gap;
    }

    #orderBy {
      width: 200px;
    }
  }

  .ListItem:last-child {
    margin-bottom: $gap;
  }
}