@import '../Person.module.scss';
@import '~@blueprintjs/core/lib/scss/variables';

$gap: 20px;
$num-columns: 3;

.PersonListView::-webkit-scrollbar {
  display: none;
}

.PersonListView {
  border: 1px solid grey;
  overflow-y: scroll;
  -ms-overflow-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat($num-columns, $person-width);
  grid-auto-rows: $person-height;
  justify-content: center;
  grid-gap: $gap;
  position: relative;

  .BarsContainer {
    // position: sticky;
    // top: 0;
    padding-top: $gap * 2;
    grid-column: 1 / span $num-columns;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //searchBar
    div:first-child {
      width: 100%;
      margin-right: $gap;
    }

    .AddPersonBtn {
      padding: 0 32px;
      margin-left: $gap;
    }
  }

  .Letter {
    // border: 1px solid red;
    grid-column: 1 / span $num-columns;
    font-size: x-large;
    font-weight: 600;
    color: $gray1;
    line-height: $person-height;
  }

  .NoItems {
    grid-column: 1 / span $num-columns;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    max-width: 350px;
    max-height: 350px;
  }

  .ListItem:last-child {
    margin-bottom: $gap;
  }
}