@import '../Person.module.scss';

$gap: 30px;

.PersonListView::-webkit-scrollbar {
  display: none;
}

.PersonListView {
  border: 1px solid grey;
  overflow-y: scroll;
  -ms-overflow-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, $person-width);
  grid-auto-rows: $person-height;
  justify-content: center;
  grid-gap: $gap;
  position: relative;

  .BarsContainer {
    padding-top: $gap;
    grid-column: 1 / span 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //searchBar
    div:first-child {
      width: 100%;
      margin-right: $gap;
    }

    #orderBy {
      width: 200px;
    }

    .AddPersonBtn {
      padding: 0 32px;
      margin-left: $gap;
    }
  }

  .NoItems {
    grid-column: 1 / span 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    max-width: 350px;
    max-height: 350px;
  }

  .ListItem:last-child {
    margin-bottom: $gap;
  }
}
