@import '../../App.scss';

#navbar {
  position: fixed;
  top: 0;
  padding-left: 32px;
  padding-right: 0;
  height: $pt-navbar-height;

  img {
    height: 48px;
  }

  a {
    color: #a7b6c2;
    text-decoration: none;
  }

  .Active {
    color: $light-gray4;
    // color: $accent-color;
    font-weight: 600;

    svg {
      fill: $light-gray4;
      // fill: $accent-color;
    }
  }

  .Group {
    height: $pt-navbar-height;
  }

  button {
    // margin-right: 8px;
  }
}