@import '../../App.scss';




#navbar {
  position: fixed;
  top: 0;
  padding-left: 32px;
  padding-right: 0;
  height: $pt-navbar-height;

  img {
    height: 48px;
  }

  a {
    color: $light-gray5;
    text-decoration: none;
  }

  .Active {
    color: $white;
  }

  .Group {
    height: $pt-navbar-height;
  }

  button {
    margin-right: 16px;
  }
}