@import '~@blueprintjs/core/lib/scss/variables';

$dot-size: 70px;
$person-width: 310px; //400px;
$person-height: 80px; //100px;

.Person {
  width: $person-width;
  height: $person-height;
  display: flex;
  align-items: center;

  .content {
    padding-left: 24px;
    display: flex;
    flex-direction: column;

    #pname {
      color: $dark-gray2;
      font-size: large;
      font-weight: 400;
      margin-top: 12px;
      // margin-bottom: 2px;
    }
  }
}