@import '~@blueprintjs/core/lib/scss/variables';

$dot-size: 70px;
$person-width: 400px;
$person-heigth: 100px;

.Person {
  width: $person-width;
  height: $person-heigth;
  display: flex;
  align-items: center;

  .dot {
    height: $dot-size;
    width: $dot-size;
    line-height: $dot-size;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .content {
    padding-left: 24px;
    display: flex;
    flex-direction: column;

    #pname {
      color: $dark-gray3;
      font-size: large;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 2px;
    }

    #prole {
      color: $dark-gray4;
      font-style: italic;
    }
  }
}