@import '../../App.scss';

$heigth: 70px;

.Table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;

  overflow-y: scroll;

  tr:nth-child(even) {
    background-color: hsla(200, 100%, 82%, 0.2);
  }

  .Header,
  th {
    height: $heigth;
    font-weight: 500;
    border: none;
    padding-top: 20px;
    box-shadow: none;
    cursor: default;
  }

  th:first-child {
    width: 170px;
  }
}

.RowName {
  width: 110px;
  font-weight: 600;
  padding-left: 24px;
  line-height: $heigth;
}

.Cell,
.Selected,
.RowName,
th {
  // width: 150px;
  height: $heigth;
  border: 1px solid hsla(10, 10%, 90%, 0.8);
}

.Cell,
.Selected,
th {
  position: relative;
  color: hsl(200, 100%, 9%);
  cursor: pointer;

  -webkit-box-shadow: inset -3px -5px 18px -3px hsla(200, 10%, 90%, 0.2);
  -moz-box-shadow: inset -3px -5px 18px -3px hsla(200, 10%, 90%, 0.2);
  box-shadow: inset -3px -5px 18px -3px hsla(200, 10%, 96%, 0.2);
  border-radius: 1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Selected {
  font-weight: 700;
  border: 1px solid hsla(200, 90%, 65%, 1);

  // cursor: grab;
}

.Cell:hover {
  border: 1px solid hsla(200, 90%, 85%, 1);
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;

  p {
    margin: 0;
    padding: 0;
  }
}
